@mixin font($weight, $size, $height, $spacing) {
	font-weight: $weight;
	font-size: $size;
	line-height: $height;
	letter-spacing: $spacing;
}

@mixin calc($count) {
	flex-basis: calc((100% - 30px * ($count - 1)) / $count);
}

@mixin mobile {
	@media screen and (min-width: 375px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 1280px) {
		@content;
	}
}

@mixin appearance($value) {
	-webkit-appearance: $value;
	-moz-appearance: $value;
	-o-appearance: $value;
	appearance: $value;
}
