.form {
	position: relative;
	padding: 38px 15px;
	margin: 0 auto;
	max-width: 846px;
	border-radius: 4px;

	-webkit-box-shadow: 7px 7px 30px 3px $border-color;
	box-shadow: 7px 7px 30px 3px $border-color;
}

.form__wrap {
	margin-bottom: 38px;

	@include tablet {
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;
	}

	@include desktop {
		margin-bottom: 30px;
	}
}

.field-wrap {
	&:not(:last-child) {
		margin-bottom: 22px;

		@include tablet {
			margin-bottom: 0;
		}
	}
}

.form__field {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 315px;

	@include tablet {
		width: 343px;
	}

	@include desktop {
		width: 392px;
	}

	&:not(:last-child) {
		margin-bottom: 10px;

		@include tablet {
			margin-bottom: 16px;
		}

		@include desktop {
			margin-bottom: 20px;
		}
	}
}

.form__label-text {
	@include font(500, null, null, null);

	@include tablet {
		@include font(null, 16px, null, null);
	}
}

.form__input {
	padding: 6px;
	width: 80px;

	border: none;
	outline: none;
	border-radius: 4px;
	background-color: $disabled-bgd-color;

	font-family: $montserrat-font;
	text-align: right;
	@include font(null, 14px, null, null);

	transition-property: background-color;
	@extend %transition;

	@include tablet {
		padding: 8px 12px;
		width: 104px;
		@include font(null, 16px, null, null);
	}

	&::placeholder {
		color: $secondary-text-color;
	}

	&[readonly] {
		cursor: default;
	}

	&:hover:not([readonly]),
	&:focus:not([readonly]) {
		background-color: $range-hover-color;
	}
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	@include appearance(none);
	margin: 0;
}

.range-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include font(null, 12px, null, null);

	color: $secondary-text-color;

	@include tablet {
		@include font(null, 14px, null, null);
	}

	&:not(:last-child) {
		margin-bottom: 22px;

		@include tablet {
			margin-bottom: 26px;
		}

		@include desktop {
			margin-bottom: 30px;
		}
	}
}

.repayment-field:not(:last-child) {
	margin-bottom: 22px;

	@include tablet {
		margin-bottom: 26px;
	}

	@include desktop {
		margin-bottom: 30px;
	}
}

.form__submit-btn {
	padding: 8px 16px;
	margin: 0 auto;

	border: none;
	border-radius: 4px;
	background-color: $accent-bgd-color;

	color: $main-text-color;
	@include font(700, 14px, null, null);

	transform: scale(1);
	transition-property: transform;
	@extend %transition;

	@include tablet {
		@include font(null, 16px, null, null);
	}

	@include desktop {
		@include font(null, 18px, null, null);
	}

	&:disabled {
		border: none;
		color: $disabled-text-color;
		background-color: $disabled-bgd-color;
		cursor: auto;
	}

	&:hover:not([disabled]),
	&:focus:not([disabled]) {
		transform: scale(1.05);
	}
}
